<footer class="footer">
  <small>
    <a href="http://coulondre.net/">coulondre.net</a>
    by Arnaud Coulondre
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>